<div class="container mt-1">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5>Payment Options</h5>
      <p><br /></p>
      <div class="row mt-3">
        <form>
          <div *ngFor="let payment of payments" class="mb-3">
            <label>
              <input
                type="radio"
                name="payment"
                [value]="payment"
                [checked]="payment.paymentSelected"
                (ngModel)="(selectedPayment)"
              />
              {{ payment.paymentCode }} / {{ payment.paymentName }}
            </label>
          </div>
        </form>
      </div>

      <p class="row">
        Bitte beachten Sie: Bei Bestellungen, die per Banküberweisung bezahlt
        werden, beginnen wir mit der Bearbeitung Ihrer Bestellung, sobald wir
        Ihren Zahlungseingang auf unserem Bankkonto bestätigen konnten. Dies
        kann je nach Praxis der Bank bis zu 7 Tage in Anspruch nehmen. Für eine
        schnellere Bearbeitung der Bestellung, empfehlen wir Ihnen, eine andere
        Zahlungsmethode in Betracht zu ziehen.
        <br /><br />
        PayPal ist eine sichere und einfache Möglichkeit zur Bezahlung im
        Internet. Am Ende des Bestellvorganges werden Sie zu PayPal
        weitergeleitet. Dort können Sie sich als PayPal-Kunde.
      </p>
      <hr />
      <button class="btn btn-info" (click)="navigateBack()">
        << Back to Address
      </button>
    </div>
  </div>
</div>
